[email]
# A daily profit report is emailed when one invokes
# shell> invoke profitreport -d yesterday
# The sender of the email is configured here
sender = clientservices@MYDOMAIN.com

# All profit reports can be sent to the sysadmin so he is aware of the
# profit of all people using the system
bcc = profitreports@MYDOMAIN.com
